[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "noaaoceans"]
	path = noaaoceans
	url = https://github.com/warlicks/noaaoceans
